### Quest
- 주차별 환자 입원/퇴원 추이 시각화
- 요일별 환자 입원/퇴원 추이 시각화
- hint :  일자는 str 변환 필요, df_DL['날짜_datetime'].dt.day_name()

In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy
scipy.__version__
import scipy.stats as stats

In [11]:
df_ROS = pd.read_csv('../../datasets/RecurrenceOfSurgery.csv')
df_ROS

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.50,4,Down,0
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.10,4,Up,0
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,0,67.5,27.3,10.2,0,-1.77,1749.00,4,Down,0
3,3,4PT,54.7,4,18.0,0.0,0,1,0,0,...,0,49.2,18.7,19.9,0,-1.58,1796.20,4,Down,0
4,4,5PT,53.8,4,NaN,0.0,0,1,0,0,...,0,58.8,14.7,5.2,0,-0.79,2021.48,4,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,1889,1890PT,44.0,1,NaN,0.0,0,0,0,0,...,2,59.5,23.0,21.8,0,NaN,2652.20,5,Middle,0
1890,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,0,47.7,20.2,5.0,0,NaN,1795.80,4,Down,0
1891,1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,...,0,44.6,15.0,17.4,1,NaN,2624.40,4,Down,0
1892,1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,...,2,32.2,11.1,17.7,0,NaN,1972.50,5,Down,0
1893,1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,...,0,38.9,6.8,27.8,0,NaN,1574.40,5,Middle,0

In [12]:
df_ROS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 52 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1894 non-null   int64
 1   환자ID                    1894 non-null   object
 2   Large Lymphocyte        1894 non-null   float64
 3   Location of herniation  1894 non-null   int64
 4   ODI                     462 non-null    float64
 5   가족력                     1843 non-null   float64
 6   간질성폐질환                  1894 non-null   int64
 7   고혈압여부                   1894 non-null   int64
 8   과거수술횟수                  1894 non-null   int64
 9   당뇨여부                    1894 non-null   int64
 10  말초동맥질환여부                1894 non-null   int64
 11  빈혈여부                    1894 non-null   int64
 12  성별                      1894 non-null   int64
 13  스테로이드치료                 1894 non-null   int64
 14  신부전여부                   1894 non-null   int64
 15  신장                      1894 non-null   int64
 16  심혈관질환                   1894 non-null   int64
 17  암발병여부                   1894 non-null   int64
 18  연령                      1894 non-null   int64
 19  우울증여부                   1894 non-null   int64
 20  입원기간                    1894 non-null   int64
 21  입원일자                    1894 non-null   int64
 22  종양진행여부                  1894 non-null   int64
 23  직업                      1479 non-null   object
 24  체중                      1894 non-null   float64
 25  퇴원일자                    1894 non-null   int64
 26  헤모글로빈수치                 1893 non-null   float64
 27  혈전합병증여부                 1894 non-null   int64
 28  환자통증정도                  1894 non-null   int64
 29  흡연여부                    1894 non-null   int64
 30  통증기간(월)                 1890 non-null   float64
 31  수술기법                    1813 non-null   object
 32  수술시간                    1840 non-null   float64
 33  수술실패여부                  1894 non-null   int64
 34  수술일자                    1894 non-null   int64
 35  재발여부                    1894 non-null   int64
 36  혈액형                     1894 non-null   object
 37  전방디스크높이(mm)             1894 non-null   float64
 38  후방디스크높이(mm)             1894 non-null   float64
 39  지방축적도                   1891 non-null   float64
 40  Instability             1894 non-null   int64
 41  MF + ES                 1894 non-null   float64
 42  Modic change            1894 non-null   int64
 43  PI                      1890 non-null   float64
 44  PT                      1890 non-null   float64
 45  Seg Angle(raw)          1893 non-null   float64
 46  Vaccum disc             1894 non-null   int64
 47  골밀도                     998 non-null    float64
 48  디스크단면적                  1893 non-null   float64
 49  디스크위치                   1894 non-null   int64
 50  척추이동척도                  1894 non-null   object
 51  척추전방위증                  1894 non-null   int64
dtypes: float64(16), int64(31), object(5)
memory usage: 769.6+ KB

In [13]:
df_ROS.describe(include=object)

        환자ID    직업  수술기법   혈액형  척추이동척도
count   1894  1479  1813  1894    1894
unique  1894    17     2     4       5
top      1PT   사무직  TELD  RH+A  Middle
freq       1   449  1673   688    1260

In [35]:
df_ROS_day=df_ROS[['입원일자','퇴원일자']].astype(str)  #str변형
df_ROS_day

          입원일자      퇴원일자
0     20190713  20190716
1     20190715  20190716
2     20190729  20190801
3     20190731  20190803
4     20190903  20190907
...        ...       ...
1889  20170407  20170408
1890  20170426  20170429
1891  20170410  20170412
1892  20170408  20170411
1893  20170412  20170413

[1894 rows x 2 columns]

In [36]:
df_ROS_day.info()  #str변형 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   입원일자    1894 non-null   object
 1   퇴원일자    1894 non-null   object
dtypes: object(2)
memory usage: 29.7+ KB